{% load static i18n %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">QlikSense</a>
  <ul class="dropdown-menu">
    <li><a class="nav-link active" aria-current="page" href="{% url 'qliksense:index' %}">QlikSense</a></li>
    
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="{% url 'qliksense:list_stream' %}">{% translate "Listar" %} Streams</a></li>
    <li><a class="dropdown-item" href="{% url 'qliksense:list_modelo' %}">{% translate "Listar Modelo" %} </a></li>
    
    {% if request.user.is_staff %}
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="{% url 'qliksense:carga_masiva' %}">Carga Masiva</a></li>
    {% endif %}
  </ul>
</li>